.category {
  padding-top: 90px;
  padding-bottom: 30px;

  &__container {
    max-width: 1444px;
  }

  &__list {
    display: grid;
    gap: 96px;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.card {
  max-width: 200px;

  &__image {
    max-width: 200px;
    margin-bottom: 13px;
    border-radius: 25px;
  }

  &__name {
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 776px) {
  .category {
    padding-top: 50px;

    &__list {
      gap: 50px;
    }
  }
}
