@use '../variables';

.game {
  padding-top: 103px;
  padding-bottom: 50px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 560px;
  }

  &__questions-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: -25px;
    font-size: 22px;
  }

  &__category-name {
    font-size: 26px;
    margin-bottom: 5px;
  }

  &__button {
    &--start-quiz,
    &--scores {
      margin-bottom: 68px;
    }

    &--start-quiz {
      background-color: variables.$green;
    }

    &--scores {
      background-color: variables.$orange;
    }

    &--back {
      padding: 10px;
      font-size: 40px;
      width: 90%;
    }
  }
  &__user--name {
    max-width: 560px;
    width: 100%;
    padding: 42px 20px 38px 0;
    margin-bottom: 68px;
    font-size: 30px;
    text-indent: 20px;
    font-family: Segoe UI;
    line-height: normal;
    box-shadow: 0px 3px 15px rgb(0, 0, 0);
    color: variables.$text-color;
  }
  &__error {
    text-align: center;
    font-size: 20px;
    margin-top: -40px;
    margin-bottom: 40px;
    color: red;
  }
}
