@use '../variables';

.navigation {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  &__menu{
    position: relative;
  }

  &__burger {
    display: block;
    width: 50px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
  }

  &__dropdown{
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    width: 260px;
    transform: translateY(calc(100% + 5px));
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 6px -2px black;

    &.active {
      display: block;
    }
  }

  &__title {
    font-size: 15px;
  }

  &__level-name-area {
    position: absolute;
    top: 50%;
    right: 80px;
    font-size: 19px;
    width: 145px;
    transform: translateY(-50%);
  }

  &__level-name {
    text-transform: uppercase;
  }

  &__level-list{
    list-style: none;
  }

  &__list-item{
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;

    &:hover{
      background-color: #dbdbdb;
    }
  }
}