@use '../variables';

.questions {
  padding-top: 167px;
  padding-bottom: 188px;

  &__question {
    width: 100%;
    padding-top: 29px;
    padding-bottom: 29px;
    text-align: center;
    font-size: 45px;
    border-radius: 25px;
    color: variables.$question-color;
    background-color: variables.$question;
    box-shadow: 0px 3px 10px black;
  }

  &__inner {
    display: flex;
    gap: 93px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__answer {
    transition: all 0.2s;

    &--wrong {
      background-color: variables.$wrong-answer;
    }

    &--correct {
      background-color: variables.$correct-answer;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}
