@use '../variables';

.score-dashboard {
  padding-top: 90px;
  padding-bottom: 188px;

  &__container {
    max-width: 1084px;
  }

  &__title {
    width: 100%;
    padding-top: 29px;
    padding-bottom: 29px;
    margin-bottom: 26px;
    text-align: center;
    font-size: 45px;
    border-radius: 25px;
    background-color: variables.$orange;
    color: variables.$question-color;
    box-shadow: 0px 3px 10px black;
  }

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__player-score-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 48px 50px 111px;
    border-radius: 25px;
    background-color: variables.$white;
    box-shadow: 0px 3px 10px black;
  }

  &__player-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 62px 17px;
    margin-bottom: 22px;
    border-radius: 25px;
    background-color: variables.$score-color;
  }

  &__game-title,
  &__score {
    font-size: 46px;
    color: variables.$question-color;
  }
}

@media (max-width: 768px) {
  .score-dashboard {
    &__game-title,
    &__title,
    &__score {
      font-size: 35px;
    }

    &__game-title {
      margin-right: 10px;
    }
  }
}

@media (max-width: 676px) {
  .score-dashboard {
    &__title {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 30px;
    }

    &__game-title,
    &__score {
      font-size: 25px;
    }

    &__player-score {
      padding: 30px;
    }

    &__game-title {
      margin-right: 10px;
    }
  }
}

@media (max-width: 500px) {
  .score-dashboard {
    &__title {
      font-size: 25px;
    }

    &__player-score-list {
      padding: 20px;
    }

    &__game-title,
    &__score {
      font-size: 20px;
    }

    &__player-score {
      padding: 15px;
    }
  }
}
