{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "plugin:jest/recommended", "prettier"],
  "rules": {
    "semi": ["error", "always"]
  }
}
