@use 'variables';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Segoe UI, sans-serif;
  background-color: variables.$background-white;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1547px;
  margin: 0 auto;
  padding: 0 30px;
}
