$blue: #4d70ff;
$green: #bad4aa;
$orange: #ff5e00;
$white: #ffffff;
$correct-answer: #44bb27;
$wrong-answer: #ff0000;
$question: #ebd4cb;
$background-white: #f8f8f8;
$text-color: #646464;
$question-color: #434343;
